.topnav {
    display: flex;
    align-items: center;
    background-color: #2B2B2B;;
}

.right-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
	font-family: Lato;
  text-decoration: none;
  font-size: 24px;
  padding-right:60px;
}

.topnav a {
    color: #f2f2f2;
    padding: 25px 25px;
    text-decoration: none;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  border-color: #ddd;
  border-width: 2px;
  color: #8cd0f7
}

.left-links{
  display: flex;
  flex:1 1 200px;
  font-family: Montserrat;
  font-weight: lighter;
  font-weight: 100;
  font-size: 42px;
  line-height: 46px;
  letter-spacing: 0.09em;
  text-transform: uppercase;;
  color: #f2f2f2;
  padding-left:60px;
}

#insta:hover {
  opacity: 0.5;
}
#behance:hover {
  opacity: 0.5;
}
#linkedin:hover {
  opacity: 0.5;
}

.social{
  align-items: center;
  padding-top: 44px;
  padding-left: 20px;
}

.dropdown .dropbtn {
  font-family: Lato;
  font-size: 24px;  
  border: none;
  outline: none;
  color: white;
  padding: 25px 25px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 18px 13.5px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #2B2B2B;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.photo {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin: 0; 
}

.greeting {
display: flex;
justify-content: center;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 29px;
line-height: 35px;
text-align: center;
letter-spacing: 0.06em;
color: #2B2B2B;
padding: 0px;
margin: 0; 
}

.tagline {
padding: 0px;
margin: 0; 
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 38px;
line-height: 70px;
text-align: center;
letter-spacing: 0.06em;
color: #2B2B2B;
}

h2 { 
  margin:0;
  padding-top:30px;
  padding-bottom:65px;
}

h4 { 
  margin:0;
  padding-top:28px;
}

.right-links-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right:60px;
}

.left-links-footer{
  display: flex;
  flex:1 1 200px;
  font-family: Montserrat;
  font-weight: lighter;
  font-weight: 100;
  font-size: 42px;
  line-height: 46px;
  letter-spacing: 0.09em;
  text-transform: uppercase;;
  color: #f2f2f2;
  padding-left:60px;
}

.heroButtons {
  font-family:lato;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 40px;
  padding-bottom: 65px;
}

#primaryButton {
  background-color: #2B2B2B;
  width: 170px;
  height: 54px;
  right: 526px;
  top: 598px;
  border-radius: 21px;
  color:white;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.06em;
}

Button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

Button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#primaryButton:hover {
  background: linear-gradient(90deg, #151A6A -28.74%, #7FACFA 214.37%);
  box-sizing: border-box;
  box-shadow: 0px 5.57698px 15.8014px rgba(0, 0, 0, 0.27);
  border-radius: 21px;
}

Button:hover span {
  padding-right: 16px;
}

Button:hover span::after {
  opacity: 1;
  right: 0;
}

#secondaryButton {
  width: 170px;
  height: 54px; 
  right: 526px;
  top: 598px;
  border-radius: 21px;
  color:#2B2B2B;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
}


#secondaryButton:hover {
  color:#151A6A;
  background: linear-gradient(270deg, rgba(11, 107, 179, 0.13) 0%, #7FACFA 120.96%);
  border: 2.1517px solid rgba(165, 170, 249, 0.38);
  box-sizing: border-box;
  box-shadow: 0px 5.57698px 15.8014px rgba(0, 0, 0, 0.27);
  border-radius: 21px;
}
#divider {
  width:80px;
  background-color: white;
  border-width: 0px;
}